<div class="container" id="container-body">
	<div class="row">
		<div class="col-md-12">

			<h1>Ruby - Exercise 1</h1>
			<p class="lead">Rearrange the code so the boxes change from red to green!</p>

			<div class="modal" id="myModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							<h4 class="modal-title">Success!</h4>
						</div>
						<div class="modal-body">
							<p>You are ready to go to the next level.</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Check your code</button>
							<button type="button" class="btn btn-success">Next Level</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal" id="myModal2">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							<h4 class="modal-title">Fail!</h4>
						</div>
						<div class="modal-body">
							<p>You are not ready to go to the next level.</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Try Again</button>
						</div>
					</div>
				</div>
			</div>

			<div id="gameContainer1">
				<div id="a" class="piece white">#</div>
				<div id="b" class="piece white">The</div>
				<div id="c" class="piece white">Greeter</div>
				<div id="d" class="piece white">class</div>
			</div>
			<div class="gameContainer1-green" id="gameContainer1-green"></div>

			<div id="gameContainer2">
				<div id="b" class="piece white">Greeter</div>
				<div id="a" class="piece white">class</div>
			</div>
			<div class="gameContainer2-red" id="gameContainer2-red"></div>

			<div id="gameContainer3">
				<div id="b" class="piece white">initialize</div>
				<div id="a" class="piece white">def</div>
				<div id="e" class="piece white">)</div>
				<div id="c" class="piece white">(</div>
				<div id="d" class="piece white">name</div>
			</div>
			<div class="gameContainer3-red" id="gameContainer3-red"></div>

			<div id="gameContainer4">
				<div id="c" class="piece white">name</div>
				<div id="d" class="piece white">.capitalize</div>
				<div id="b" class="piece white">=</div>
				<div id="a" class="piece white">@name</div>
			</div>
			<div class="gameContainer4-red" id="gameContainer4-red"></div>

			<div id="gameContainer5">
				<div id="c" class="piece white">end</div>
			</div>
			<div class="gameContainer5-green" id="gameContainer5-green"></div>

			<div id="gameContainer6">
				<div id="b" class="piece white">salute</div>
				<div id="a" class="piece white">def</div>
			</div>
			<div class="gameContainer6-red" id="gameContainer6-red"></div>

			<div id="gameContainer7">
				<div id="b" class="piece white">"Hello</div>
				<div id="d" class="piece white">!"</div>
				<div id="c" class="piece white">#{@name}</div>
				<div id="a" class="piece white">puts</div>
			</div>
			<div class="gameContainer7-red" id="gameContainer7-red"></div>

			<div id="gameContainer8">
				<div id="c" class="piece white">end</div>
			</div>
			<div class="gameContainer8-green" id="gameContainer8-green"></div>

			<div id="gameContainer9">
				<div id="c" class="piece white">end</div>
			</div>
			<div class="gameContainer9-green" id="gameContainer9-green"></div>

			<div id="gameContainer10">
				<div id="a" class="piece white">#</div>
				<div id="b" class="piece white">Create</div>
				<div id="c" class="piece white">a</div>
				<div id="d" class="piece white">new</div>
				<div id="e" class="piece white">Object</div>
			</div>
			<div class="gameContainer10-green" id="gameContainer10-green"></div>

			<div id="gameContainer11">
				<div id="d" class="piece white">.new</div>
				<div id="c" class="piece white">Greeter</div>
				<div id="a" class="piece white">g</div>
				<div id="e" class="piece white">("world")</div>
				<div id="b" class="piece white">=</div>
			</div>
			<div class="gameContainer11-red" id="gameContainer11-red"></div>

			<div id="gameContainer12">
				<div id="d" class="piece white">#</div>
				<div id="c" class="piece white">Output</div>
				<div id="a" class="piece white">"Hello</div>
				<div id="e" class="piece white">World!"</div>
			</div>
			<div class="gameContainer12-green" id="gameContainer12-green"></div>

			<div id="gameContainer13">
				<div id="b" class="piece white">.salute</div>
				<div id="a" class="piece white">g</div>
			</div>
			<div class="gameContainer13-red" id="gameContainer13-red"></div>


		</div>
	</div>
	<br><br>
	<div class="row">
		<!-- <div class="col-md-12">
			<button onclick="ruby1_submit()" class="btn btn-primary btn-lg">Submit</button>
		</div> -->
	</div>
</div>



<!-- # The Greeter class
class Greeter
  def initialize(name)
    @name = name.capitalize
  end

  def salute
    puts "Hello #{@name}!"
  end
end

# Create a new object
g = Greeter.new("world")

# Output "Hello World!"
g.salute -->












