<div class="container" id="container-body">
	<div class="row">
		<div class="col-md-12">

			<h1>Ruby - Exercise 1</h1>
			<p class="lead">Rearrange the code in the white boxes to make the famous Hello World!</p>

			<div class="modal" id="myModal">
				<div class="modal-dialog">
					<div class="modal-content" id="welldone">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							<h4 class="modal-title">Well done, <%= "#{@coder.first_name}" %>!</h4>
						</div>
						<div class="modal-body" id="welldonetext">
							<p>You are now ready to go to the next exercise!</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Check your code</button>
							<%= link_to "Next Exercise", ruby_exercise1_path, class: "btn btn-success" %>
						</div>
					</div>
				</div>
			</div>

			<div class="modal" id="myModal2">
				<div class="modal-dialog">
					<div class="modal-content" id="tryagain">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							<h4 class="modal-title">Almost there, <%= "#{@coder.first_name}" %>!</h4>
						</div>
						<div class="modal-body">
							<p>Tip: Just breathe and walk around a bit. You can do this!</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Try Again</button>
						</div>
					</div>
				</div>
			</div>

			<ul id="sortable-ruby-comment-1" class="connectedSortable">
				<li class="ruby-li">#</li>
				<li class="ruby-li">The</li>
				<li class="ruby-li">Greeter</li>
				<li class="ruby-li">class</li>
				<li class="ruby-li">&nbsp;</li>
			</ul>

			<ul id="sortable-ruby-1" class="connectedSortable">
				<li class="ui-state-highlight" id="b">Greeter</li>
				<li class="ui-state-highlight" id="a">class</li>
				<li class="ruby-li">&nbsp;</li>
				<li class="ruby-li">&nbsp;</li>
				<li class="ruby-li">&nbsp;</li>
			</ul>

			<ul id="sortable-ruby-2" class="connectedSortable">
				<li class="ui-state-highlight" id="b">initialize</li>
				<li class="ui-state-highlight" id="a">def</li>
				<li class="ui-state-highlight" id="e">)</li>
				<li class="ui-state-highlight" id="c">(</li>
				<li class="ui-state-highlight" id="d">name</li>
			</ul>

			<ul id="sortable-ruby-3" class="connectedSortable">
				<li class="ui-state-highlight" id="c">name</li>
				<li class="ui-state-highlight" id="d">.capitalize</li>
				<li class="ui-state-highlight" id="b">=</li>
				<li class="ui-state-highlight" id="a">@name</li>
				<li class="ruby-li">&nbsp;</li>
			</ul>

			<ul id="sortable-ruby-comment-2" class="connectedSortable">
				<li class="ruby-li">end</li>
				<li class="ruby-li">&nbsp;</li>
				<li class="ruby-li">&nbsp;</li>
				<li class="ruby-li">&nbsp;</li>
				<li class="ruby-li">&nbsp;</li>
			</ul>

			<ul id="sortable-ruby-4" class="connectedSortable">
				<li class="ui-state-highlight" id="b">salute</li>
				<li class="ui-state-highlight" id="a">def</li>
				<li class="ruby-li">&nbsp;</li>
				<li class="ruby-li">&nbsp;</li>
				<li class="ruby-li">&nbsp;</li>
			</ul>

			<ul id="sortable-ruby-5" class="connectedSortable">
				<li class="ui-state-highlight" id="b">"Hello</li>
				<li class="ui-state-highlight" id="d">!"</li>
				<li class="ui-state-highlight" id="c">#{@name}</li>
				<li class="ui-state-highlight" id="a">puts</li>
				<li class="ruby-li">&nbsp;</li>
			</ul>

			<ul id="sortable-ruby-comment-2" class="connectedSortable">
				<li class="ruby-li">end</li>
				<li class="ruby-li">&nbsp;</li>
				<li class="ruby-li">&nbsp;</li>
				<li class="ruby-li">&nbsp;</li>
				<li class="ruby-li">&nbsp;</li>
			</ul>

			<ul id="sortable-ruby-comment-3" class="connectedSortable">
				<li class="ruby-li">end</li>
				<li class="ruby-li">&nbsp;</li>
				<li class="ruby-li">&nbsp;</li>
				<li class="ruby-li">&nbsp;</li>
				<li class="ruby-li">&nbsp;</li>
			</ul>

			<ul id="sortable-ruby-comment-1" class="connectedSortable">
				<li class="ruby-li">#</li>
				<li class="ruby-li">Create</li>
				<li class="ruby-li">a</li>
				<li class="ruby-li">new</li>
				<li class="ruby-li">Object</li>
			</ul>

			<ul id="sortable-ruby-6" class="connectedSortable">
				<li class="ui-state-highlight" id="d">.new</li>
				<li class="ui-state-highlight" id="c">Greeter</li>
				<li class="ui-state-highlight" id="a">g</li>
				<li class="ui-state-highlight" id="e">("world")</li>
				<li class="ui-state-highlight" id="b">=</li>
			</ul>

			<ul id="sortable-ruby-comment-1" class="connectedSortable">
				<li class="ruby-li">#</li>
				<li class="ruby-li">Output</li>
				<li class="ruby-li">"Hello</li>
				<li class="ruby-li">World!"</li>
				<li class="ruby-li">&nbsp;</li>
			</ul>

			<ul id="sortable-ruby-7" class="connectedSortable">
				<li class="ui-state-highlight" id="b">.salute</li>
				<li class="ui-state-highlight" id="a">g</li>
				<li class="ruby-li">&nbsp;</li>
				<li class="ruby-li">&nbsp;</li>
				<li class="ruby-li">&nbsp;</li>
			</ul>
			
			<br>
			<div class="col-md-12">
				<button onclick="ruby_submit()" class="btn btn-primary btn-lg">Submit</button>
			</div>

		</div>
	</div>
</div>













