<div class="container" id="container-body">
	<div class="row">
		<div class="col-md-12">
			<h1>Javascript - Exercise 1</h1>
			<p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus.</p>

			<div class="modal" id="myModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							<h4 class="modal-title">Success!</h4>
						</div>
						<div class="modal-body">
							<p>You are ready to go to the next level.</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Check your code</button>
							<button type="button" class="btn btn-success">Next Level</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal" id="myModal2">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							<h4 class="modal-title">Fail!</h4>
						</div>
						<div class="modal-body">
							<p>You are not ready to go to the next level.</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Try Again</button>
						</div>
					</div>
				</div>
			</div>

			<ul id="sortable1" class="connectedSortable">
				<li class="ui-state-highlight" id="a-drag">A</li>
				<li class="ui-state-highlight" id="b-drag">B</li>
				<li class="ui-state-highlight" id="c-drag">C</li>
				<li class="ui-state-highlight" id="d-drag">D</li>
				<li class="ui-state-highlight" id="e-drag">E</li>
			</ul>

			<!-- <ul id="sortable2" class="connectedSortable">
				<li class="ui-state-highlight" id="a-drop">Item 1</li>
				<li class="ui-state-highlight" id="b">Item 2</li>
				<li class="ui-state-highlight" id="c">Item 3</li>
				<li class="ui-state-highlight" id="d">Item 4</li>
				<li class="ui-state-highlight" id="e">Item 5</li>
			</ul>
			<ul id="sortable3" class="connectedSortable">
				<li class="ui-state-highlight">Item 1</li>
				<li class="ui-state-highlight">Item 2</li>
				<li class="ui-state-highlight">Item 3</li>
				<li class="ui-state-highlight">Item 4</li>
				<li class="ui-state-highlight">Item 5</li>
			</ul>
			<ul id="sortable4" class="connectedSortable">
				<li class="ui-state-highlight">Item 1</li>
				<li class="ui-state-highlight">Item 2</li>
				<li class="ui-state-highlight">Item 3</li>
				<li class="ui-state-highlight">Item 4</li>
				<li class="ui-state-highlight">Item 5</li>
			</ul>
			<ul id="sortable5" class="connectedSortable">
				<li class="ui-state-highlight">Item 1</li>
				<li class="ui-state-highlight">Item 2</li>
				<li class="ui-state-highlight">Item 3</li>
				<li class="ui-state-highlight">Item 4</li>
				<li class="ui-state-highlight">Item 5</li>
			</ul> -->

		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button onclick="js1Submit()" class="btn btn-primary btn-lg">Submit</button>
		</div>
	</div>
</div>



