<div class="container" id="container-body">
	<div class="row">
		<div class="col-md-12">
			<h1>Javascript - Exercise 1</h1>
			<p class="lead">Rearrange the boxes of code to form a simple Javascipt if-else statement.</p>

			<div class="modal" id="myModal">
				<div class="modal-dialog">
					<div class="modal-content" id="welldone">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							<h4 class="modal-title">Well done <%= "#{@coder.first_name}" %>!</h4>
						</div>
						<div class="modal-body" id="welldonetext">
							<p>You are now ready to go to the next exercise!</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Check your code</button>
							<%= link_to "Next Exercise", ruby_exercise1_path, class: "btn btn-success" %>
						</div>
					</div>
				</div>
			</div>

			<div class="modal" id="myModal2">
				<div class="modal-dialog">
					<div class="modal-content" id="tryagain">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							<h4 class="modal-title">Almost there <%= "#{@coder.first_name}" %>!</h4>
						</div>
						<div class="modal-body">
							<p>Tip: A variable must be the first line in this exercise.</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Try Again</button>
						</div>
					</div>
				</div>
			</div>

			<ul id="sortable1" class="connectedSortable">
				<li class="ui-state-highlight" id="doc-math-drag">document.write("Math Book");</li>
				<li class="ui-state-highlight" id="if-history-drag">if (book == "history") {</li>
				<li class="ui-state-highlight" id="close-bracket-drag">}</li>
				<li class="ui-state-highlight" id="doc-history-drag">document.write("History Book");</li>
				<li class="ui-state-highlight" id="else-if-math-drag">else if (book == "math"){</li>
				<li class="ui-state-highlight" id="close-bracket-drag">}</li>
				<li class="ui-state-highlight" id="doc-unknown-drag">document.write("Unknown Book");</li>
				<li class="ui-state-highlight" id="var-drag">var book = "math";</li>
				<li class="ui-state-highlight" id="close-bracket-drag">}</li>
				<li class="ui-state-highlight" id="else-drag">else {</li>
			</ul>

			<!-- <ul id="sortable2" class="connectedSortable">
				<li class="ui-state-highlight" id="a-drop">Item 1</li>
				<li class="ui-state-highlight" id="b">Item 2</li>
				<li class="ui-state-highlight" id="c">Item 3</li>
				<li class="ui-state-highlight" id="d">Item 4</li>
				<li class="ui-state-highlight" id="e">Item 5</li>
			</ul>
			<ul id="sortable3" class="connectedSortable">
				<li class="ui-state-highlight">Item 1</li>
				<li class="ui-state-highlight">Item 2</li>
				<li class="ui-state-highlight">Item 3</li>
				<li class="ui-state-highlight">Item 4</li>
				<li class="ui-state-highlight">Item 5</li>
			</ul>
			<ul id="sortable4" class="connectedSortable">
				<li class="ui-state-highlight">Item 1</li>
				<li class="ui-state-highlight">Item 2</li>
				<li class="ui-state-highlight">Item 3</li>
				<li class="ui-state-highlight">Item 4</li>
				<li class="ui-state-highlight">Item 5</li>
			</ul>
			<ul id="sortable5" class="connectedSortable">
				<li class="ui-state-highlight">Item 1</li>
				<li class="ui-state-highlight">Item 2</li>
				<li class="ui-state-highlight">Item 3</li>
				<li class="ui-state-highlight">Item 4</li>
				<li class="ui-state-highlight">Item 5</li>
			</ul> -->

		</div>
	</div>
	<div class="row"><br><br>
		<div class="col-md-12">
			<button onclick="js1Submit()" class="btn btn-primary btn-lg">Submit</button>
		</div>
	</div>
</div>



