<div class="container" id="container-body">
	<div class="row">
		<div class="col-md-12">
			<h1>CSS - Exercise 1</h1>
			<p class="lead">Complete a simple css code by dragging the blue boxes to the gray panels.</p>

			<div class="modal" id="myModal">
				<div class="modal-dialog">
					<div class="modal-content" id="welldone">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							<h4 class="modal-title">Well done <%= "#{@coder.first_name}" %>!</h4>
						</div>
						<div class="modal-body" id="welldonetext">
							<p>You are now ready to go to the next exercise!</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Check your code</button>
							<%= link_to "Next Exercise", javascript_exercise1_path, class: "btn btn-success" %>
						</div>
					</div>
				</div>
			</div>

			<div class="modal" id="myModal2">
				<div class="modal-dialog">
					<div class="modal-content" id="tryagain">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							<h4 class="modal-title">Almost there <%= "#{@coder.first_name}" %>!</h4>
						</div>
						<div class="modal-body">
							<p>Tip: Relax and focus. You can do this!</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Try Again</button>
						</div>
					</div>
				</div>
			</div>
			
		</div> <!-- col -->
	</div> <!-- row  -->
	<div class="row">
		<div class="col-md-12">
			
			<div style="float:left">
			    <div class="square-css" id="3px-drag">3px solid #73AD21;</div>
			    <div style="clear:both"></div>
			    <div class="square-css" id="absolute-drag">absolute;</div>
			    <div style="clear:both"></div>
			    <div class="square-css" id="couriernew-drag">"Courier New"</div>
			    <div style="clear:both"></div>
			    <div class="square-css" id="inline-drag">inline-block;</div>
			    <div style="clear:both"></div>
			    <div class="square-css" id="lightblue-drag">lightblue;</div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-css-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-css-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-css-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-css-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-css-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-css-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-css-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-css-blank"></div>
			</div>
			<div style="float:left;">
			    <div class="squaredotted-css">body</div>
			    <div class="squaredotted-css">{</div>
			    <div class="squaredotted-css-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-css-blank"></div>
			    <div class="squaredotted-css">background-color:</div>
			    <div class="squaredotted-css" id="lightblue-drop"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-css">}</div>
			    <div class="squaredotted-css-blank"></div>
			    <div class="squaredotted-css-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-css">p</div>
			    <div class="squaredotted-css">{</div>
			    <div class="squaredotted-css-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-css-blank"></div>
			    <div class="squaredotted-css">font-family:</div>
			    <div class="squaredotted-css" id="couriernew-drop"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-css">}</div>
			    <div class="squaredotted-css-blank"></div>
			    <div class="squaredotted-css-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-css">ul</div>
			    <div class="squaredotted-css">{</div>
			    <div class="squaredotted-css-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-css-blank"></div>
			    <div class="squaredotted-css">display:</div>
			    <div class="squaredotted-css" id="inline-drop"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-css">}</div>
			    <div class="squaredotted-css-blank"></div>
			    <div class="squaredotted-css-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-css">.right</div>
			    <div class="squaredotted-css">{</div>
			    <div class="squaredotted-css-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-css-blank"></div>
			    <div class="squaredotted-css">position:</div>
			    <div class="squaredotted-css" id="absolute-drop"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-css-blank"></div>
			    <div class="squaredotted-css">border:</div>
			    <div class="squaredotted-css" id="3px-drop"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-css">}</div>
			    <div class="squaredotted-css-blank"></div>
			    <div class="squaredotted-css-blank"></div>
			</div>
		</div>
		<br><br>
		<button onclick="css1Submit()" class="btn btn-primary btn-lg">Submit</button>
	</div>

</div> <!-- container -->

















