<div class="container">
	<div class="row">
		<div class="col-md-12">
			
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<%= image_tag("guywave.gif", class: "coder1") %>
		</div>

		<div class="col-md-8">
			<div class="notice"><%= notice %></div>
  			<div class="alert"><%= alert %></div>
  			
			<div class="jumbotron" style="margin-top: 25px;">
				<h1>Go Go Coder</h1>
				<p>An interactive coding exercise for<br> Web Developers.</p>
				<p>
					<%= link_to "Sign Up", new_coder_registration_path, class: "btn btn-primary btn-lg" %>
					<!-- <a class="btn btn-primary btn-lg">Learn more</a> -->
				</p>
			</div>
		</div>

	</div>

</div>