<div class="container">
	<div class="row">
		<div class="col-md-12">
			<!-- <form class="form-horizontal">
			  <fieldset>
			    <legend>Sign In</legend>
			    <div class="form-group">
			      <div class="col-lg-10">
			        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
			      </div>
			    </div>
			    <div class="form-group">
			      <div class="col-lg-10">
			        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
			        <div class="checkbox">
			          <label>
			            <input type="checkbox"> I promise to be an awesome coder when I finish this course.
			          </label>
			        </div>
			      </div>
			    </div>
			    <div class="form-group">
			      <div class="col-lg-10 col-lg-offset-2">
			        <button type="reset" class="btn btn-default">Create an account</button>
			        <%#= link_to "Submit", welcome_path, class: "btn btn-primary" %>
			      </div>
			    </div>
			  </fieldset>
			</form> -->
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<%= image_tag("guywave.gif", class: "coder1") %>
		</div>

		<div class="col-md-8">
			<div class="notice"><%= notice %></div>
  			<div class="alert"><%= alert %></div>
  			
			<div class="jumbotron" style="margin-top: 25px;">
				<h1>Go Go Coder</h1>
				<p>Your online code book.<br>Never forget your code again.</p>
				<p>
					<%= link_to "Sign Up", new_coder_registration_path, class: "btn btn-primary btn-lg" %>
					<!-- <a class="btn btn-primary btn-lg">Learn more</a> -->
				</p>
			</div>
		</div>

	</div>

</div>