<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
			<h1>Welcome Jeremy!</h1>
				<p>Put something awesome here so people will not delete their account. Like maybe a free Go Go Curry topping coupon when you sign in for the first time.</p>
				<p><a class="btn btn-primary btn-lg">Learn more</a></p>
			</div>
		</div>
	</div>
	<div class="row" id="welcome-box-row">

		<div class="col-md-2" id="welcome-box">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title">Level 1</h3>
			  </div>
			  <div class="panel-body">
			    HTML5
			  </div>
			</div>
		</div>

		<div class="col-md-2" id="welcome-box">
			<div class="panel panel-success">
			  <div class="panel-heading">
			    <h3 class="panel-title">Level 2</h3>
			  </div>
			  <div class="panel-body">
			    CSS
			  </div>
			</div>
		</div>

		<div class="col-md-2" id="welcome-box">
			<div class="panel panel-warning">
			  <div class="panel-heading">
			    <h3 class="panel-title">Level 3</h3>
			  </div>
			  <div class="panel-body">
			    Javascript
			  </div>
			</div>
		</div>

		<div class="col-md-2" id="welcome-box">
			<div class="panel panel-danger">
			  <div class="panel-heading">
			    <h3 class="panel-title">Level 4</h3>
			  </div>
			  <div class="panel-body">
			    Ruby
			  </div>
			</div>
		</div>

		<div class="col-md-2" id="welcome-box">
			<div class="panel panel-info">
			  <div class="panel-heading">
			    <h3 class="panel-title">Level 5</h3>
			  </div>
			  <div class="panel-body">
			    Rails
			  </div>
			</div>
		</div>
		
	</div>
</div>







