<div class="container" id="container-body">
	<div class="row">
		<div class="col-md-12">
			<h1>HTML - Exercise 1</h1>
			<p class="lead">Drag the blue boxes to the gray boxes to form a simple HTML document.</p>

			<div class="modal" id="myModal">
				<div class="modal-dialog">
					<div class="modal-content" id="welldone">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							<h4 class="modal-title">Well done <%= "#{@coder.first_name}" %>!</h4>
						</div>
						<div class="modal-body">
							<p>You are now ready to go to the next exercise.</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Check your code</button>
							<%= link_to "Next Exercise", css_exercise1_path, class: "btn btn-success" %>
						</div>
					</div>
				</div>
			</div>

			<div class="modal" id="myModal2">
				<div class="modal-dialog">
					<div class="modal-content" id="tryagain">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							<h4 class="modal-title">Almost there <%= "#{@coder.first_name}" %>!</h4>
						</div>
						<div class="modal-body">
							<p>Tip: Don't forget to match your start and end tags.</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Try Again</button>
						</div>
					</div>
				</div>
			</div>
		
		</div> <!-- col -->
	</div> <!-- row -->

	<div class="row">
		<div class="col-md-12">
			<div style="float:left">
			    <div class="square" id="head1-drag">&#60;head&#62;</div>
			    <div style="clear:both"></div>
			    <div class="square" id="html2-drag">&#60;/html&#62;</div>
			    <div style="clear:both"></div>
			    <div class="square" id="head2-drag">&#60;/head&#62;</div>
			    <div style="clear:both"></div>
			    <div class="square" id="title1-drag">&#60;title&#62;</div>
			    <div style="clear:both"></div>
			    <div class="square" id="div2-drag">&#60;/div&#62;</div>
			    <div style="clear:both"></div>
			    <div class="square" id="title2-drag">&#60;/title&#62;</div>
			    <div style="clear:both"></div>
			    <div class="square" id="html1-drag">&#60;html&#62;</div>
			    <div style="clear:both"></div>
			    <div class="square" id="div1-drag">&#60;div&#62;</div>
			    <div style="clear:both"></div>
			    <div class="square" id="doctype-drag">&#60;!DOCTYPE html&#62;</div>
			    <div style="clear:both"></div>
			    <div class="square" id="body1-drag">&#60;body&#62;</div>
			    <div style="clear:both"></div>
			    <div class="square" id="content-drag">Content</div>
			    <div style="clear:both"></div>
			    <div class="square" id="body2-drag">&#60;/body&#62;</div>
			    <div style="clear:both"></div>
			    <div class="square" id="title-drag">Title</div>
			</div>
			<div style="float:left;margin-left:20px;">
			    <div class="squaredotted" id="doctype-drop"></div>
			    <div class="squaredotted-blank"></div>
			    <div class="squaredotted-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted" id="html1-drop"></div>
			    <div class="squaredotted-blank"></div>
			    <div class="squaredotted-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted" id="head1-drop"></div>
			    <div class="squaredotted-blank"></div>
			    <div class="squaredotted-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-blank"></div>
			    <div class="squaredotted" id="title1-drop"></div>
			    <div class="squaredotted-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-blank"></div>
			    <div class="squaredotted-blank"></div>
			    <div class="squaredotted" id="title-drop"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-blank"></div>
			    <div class="squaredotted" id="title2-drop"></div>
			    <div class="squaredotted-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted" id="head2-drop"></div>
			    <div class="squaredotted-blank"></div>
			    <div class="squaredotted-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted" id="body1-drop"></div>
			    <div class="squaredotted-blank"></div>
			    <div class="squaredotted-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-blank"></div>
			    <div class="squaredotted" id="div1-drop"></div>
			    <div class="squaredotted-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-blank"></div>
			    <div class="squaredotted-blank"></div>
			    <div class="squaredotted" id="content-drop"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted-blank"></div>
			    <div class="squaredotted" id="div2-drop"></div>
			    <div class="squaredotted-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted" id="body2-drop"></div>
			    <div class="squaredotted-blank"></div>
			    <div class="squaredotted-blank"></div>
			    <div style="clear:both"></div>
			    <div class="squaredotted" id="html2-drop"></div>
			    <div class="squaredotted-blank"></div>
			    <div class="squaredotted-blank"></div>
			</div><br><br>
			<button onclick="myFunction()" class="btn btn-primary btn-lg">Submit</button>

		</div>
	</div>

</div> <!-- container -->

