<div class="container" id="container-body">
	<div class="row">
		<div class="col-md-12">
			<h1>HTML5 - Lesson 1</h1>
			<p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus.</p>

			<div id="redips-drag">
				<table id="table1">
					<colgroup>
						<col width="100"/>
						<col width="50"/>
						<col width="100"/>
						<col width="100"/>
						<col width="100"/>
						<col width="100"/>
						<col width="100"/>
					</colgroup>
					<tr>
						<td class="dark"><div id="head1-drag" class="redips-drag yellow">&#60;head&#62;</div></td>
						<td class="redips-mark blank"></td>
						<td class="green_cell" id="doctype-drop"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
					</tr>
					<tr>
						<td class="dark"><div id="html2-drag" class="redips-drag yellow">&#60;/html&#62;</div></td>
						<td class="redips-mark blank"></td>
						<td class="yellow_cell" id="html1-drop"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
					</tr>
					<tr>
						<td class="dark"><div id="head2-drag" class="redips-drag green">&#60;/head&#62;</div></td>
						<td class="redips-mark blank"></td>
						<td class="yellow_cell" id="head1-drop"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
					</tr>
					<tr>
						<td class="dark"><div id="title1-drag" class="redips-drag green">&#60;title&#62;</div></td>
						<td class="redips-mark blank"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="green_cell" id="title1-drop"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
					</tr>
					<tr>
						<td class="dark"><div id="div2-drag" class="redips-drag green">&#60;/div&#62;</div></td>
						<td class="redips-mark blank"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="yellow_cell" id="title-drop"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
					</tr>
					<tr>
						<td class="dark"><div id="title2-drag" class="redips-drag green">&#60;/title&#62;</div></td>
						<td class="redips-mark blank"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="green_cell" id="title2-drop"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
					</tr>
					<tr>
						<td class="dark"><div id="html1-drag" class="redips-drag yellow">&#60;html&#62;</div></td>
						<td class="redips-mark blank"></td>
						<td class="green_cell" id="head2-drop"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
					</tr>
					<tr>
						<td class="dark"><div id="div1-drag" class="redips-drag green">&#60;div&#62;</div></td>
						<td class="redips-mark blank"></td>
						<td class="orange_cell" id="body1-drop"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
					</tr>
					<tr>
						<td class="dark"><div id="doctype-drag" class="redips-drag green">&#60;!DOCTYPE html&#62;</div></td>
						<td class="redips-mark blank"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="green_cell" id="div1-drop"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
					</tr>
					<tr>
						<td class="dark"><div id="body1-drag" class="redips-drag orange">&#60;body&#62;</div></td>
						<td class="redips-mark blank"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="orange_cell" id="content-drop"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
					</tr>
					<tr>
						<td class="dark"><div id="content-drag" class="redips-drag orange">Content</div></td>
						<td class="redips-mark blank"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="green_cell" id="div2-drop"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
					</tr>
					<tr>
						<td class="dark"><div id="body2-drag" class="redips-drag orange">&#60;/body&#62;</div></td>
						<td class="redips-mark blank"></td>
						<td class="orange_cell" id="body2-drop"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
					</tr>
					<tr>
						<td class="dark"><div id="title-drag" class="redips-drag yellow">Title</div></td>
						<td class="redips-mark blank"></td>
						<td class="yellow_cell" id="html2-drop"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
						<td class="dark redips-single" title="Single content cell"></td>
					</tr>
					<!-- empty row -->
					<tr>
						<td colspan="7" class="redips-mark blank"></td>
					</tr>
					<!-- message row -->
					<tr>
						<td class="redips-mark blank"></td>
						<td class="redips-mark blank"></td>
						<td id="message" colspan="5" class="redips-mark dark2">Set html code respectively.</td>
					</tr>
				</table>
			</div>
		<button onclick="myFunction()" class="btn btn-primary btn-lg">Submit</button>
		</div> <!-- col -->
	</div> <!-- row -->
</div> <!-- container -->

