body {
	/*font-family: Courier;*/
	margin: 0px; /* for IE6 / IE7 */
}

#footer {
	text-align: center;
	background-color: #4e5d6c;
	margin-top: 50px;
}

#code_content {
	width: 800px;
	height: 400px;
}

#code_title {
	width: 800px;
}

#container-body {
	text-align: center;
}

.row-forms {
 	text-align: right;
 }

 .hint {
 	color: #df691a;
 }

#wrapper_center {
	width: 75%;
	margin: 0 auto;
	padding: 10px 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

#codes {
	background: #4e5d6c;
    width: 30%;
    min-height: 135px;
    margin: 10px 1%;
    padding: 0px 30px;
    float: left;
    border-radius: 0.4em;
    position: relative;    
}

#codes h2 {
	font-size: 22px;
}

#codes p {
	font-size: 12px;
}

#draggable, #draggable2 { 
	width: 100px; 
	height: 100px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px 10px 10px 0; 
}

#droppable { 
	width: 150px; 
	height: 150px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px; 
}

#container { 
	width: 360px; 
	height: 550px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px; 
	border: 1px solid black; 
}

.border { 
	border: 3px solid green; 
}

/*#welcome-box {
	border: 1px solid yellow;
	margin: 0px 5px 0px 5px;
}*/

#welcome-box-row {
	width: 1000px;
	text-align: center;
}

#button-next {
	display: none;
}

#redips-drag {

}

/* drag objects (DIV inside table cells) */
.redips-drag {
	cursor: move;
	margin: auto;
	z-index: 10;
	background-color: white;
	text-align: center;
	font-size: 10pt; /* needed for cloned object */
	opacity: 0.7;
	filter: alpha(opacity=70);
	/* without width, IE6/7 will not apply filter/opacity to the element ?! */
	/* IE needs element layout */
	width: 140px;
	height: 25px;
	line-height: 25px;
	/* round corners */
	border-radius: 4px; /* Opera, Chrome */
	-moz-border-radius: 4px; /* FF */
}

/* tables */
div#drag table {
	background-color: #eee;
	border-collapse: collapse;
	font-size: 20px;
	margin: auto;
}

/* table cells */
div#drag td {
	height: 32px;
	border: 1px solid white;
	text-align: center;
	font-size: 10pt;
	padding: 2px;
	width: 145px;
}

/* green objects */
.green {
	border: 2px solid #499B33;
	font-size: 15px;
	color: black;
}

/* orange objects */
.orange {
	border: 2px solid #BF6A30;
	font-size: 15px;
	color: black;
}

/* yellow objects */
.yellow {
	border: 2px solid #F0E68C;
	font-size: 15px;
	color: black;
}

/* blank cells (to create gap between left column and message row) */
.blank {
	background-color: white;
}

/* green cell */
.green_cell {
	background-color: #AFD0A7;
	width: 160px;
    height: 35px;
    border: 1px solid gray;
}

/* orange cell */
.orange_cell {
	background-color: #DDC5B5;
	width: 160px;
    height: 35px;
    border: 1px solid gray;
}

/* yellow cell */
.yellow_cell {
	background-color: #FFFACD;
	width: 225px;
    height: 35px;
    border: 1px solid gray;
}

/* message line */
#message {
	color: white;
	background-color: #aaa;
	height: 50px;
    font-size: 20px;
}

/* left column and corners in main table */
.dark {
	background-color: #e0e0e0;
	border: 1px solid gray;
}

.css-drag {
	font-size: 15px;
	color: black;
}





