body {
	/*font-family: Courier;*/
	margin: 0px; /* for IE6 / IE7 */
}

.col-md-4#login {
	background-color: #4e5d6c;
    border-radius: 0.4em;
    margin-top: 40px;
    padding: 0px 34px 50px 0px;
    background-image: url(coder5.png);
    background-repeat: no-repeat;
    background-position: 6px 6px;
    width: 520px;
    height: 411px;
}

.col-md-4#signup {
    background-color: #4e5d6c;
    border-radius: 0.4em;
    margin-top: 40px;
    padding: 0px 34px 50px 0px;
    background-image: url(coder3.png);
    background-repeat: no-repeat;
    background-position: 6px 6px;
    width: 599px;
    height: 415px;
}

.col-md-4#editcoder {
    background-color: #4e5d6c;
    border-radius: 0.4em;
    margin-top: 40px;
    padding: 0px 34px 50px 0px;
    background-image: url(coder6.png);
    background-repeat: no-repeat;
    background-position: 15px 15px;
    width: 633px;
    height: 430px;
}

#footer {
	text-align: center;
	background-color: #4e5d6c;
	margin-top: 50px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.modal-content#tryagain {
	background-image: url(coder1.png);
    background-repeat: no-repeat;
    background-position: 0px 16px;
}

.modal-content#welldone {
    background-image: url(coder4.png);
    background-repeat: no-repeat;
    background-position: -69px -45px;
}

.modal-body p {
    margin: 15px 0px 0px 120px;
}

.modal-body#welldonetext p {
    margin: 15px 0px 0px 245px;
}

#code_content {
	width: 800px;
	height: 400px;
}

#code_title {
	width: 800px;
}

.coder1 {
	/*margin-left: 30px;*/
	margin-left: 10px;
    width: 250px;
}

#container-body {
	text-align: center;
}

.row-forms {
 	text-align: right;
 }

 .hint {
 	color: #df691a;
 }

 .form-control#select {
 	width: 250px;
 }

 .jumbotron#jumbo-welcome {
 	margin-top: 30px;
 	background-image: url(coder2.png);
    background-repeat: no-repeat;
    background-position: 540px 0px;
 }

#wrapper_center {
	width: 75%;
	margin: 0 auto;
	padding: 10px 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

#codes {
	background: #4e5d6c;
    width: 31%;
    min-height: 175px;
    margin: 10px 1%;
    padding: 0px 30px;
    float: left;
    border-radius: 0.4em;
    position: relative;    
}

#codes h2 {
	font-size: 22px;
}

#codes p {
	font-size: 14px;
}

#draggable, #draggable2 { 
	width: 100px; 
	height: 100px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px 10px 10px 0; 
}

#droppable { 
	width: 150px; 
	height: 150px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px; 
}

#container { 
	width: 360px; 
	height: 550px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px; 
	border: 1px solid black; 
}

.border { 
	border: 3px solid green; 
}

/*#welcome-box {
	border: 1px solid yellow;
	margin: 0px 5px 0px 5px;
}*/

#welcome-box-row {
	width: 1000px;
	text-align: center;
}

#button-next {
	display: none;
}

#redips-drag {

}

/* drag objects (DIV inside table cells) */
.redips-drag {
	cursor: move;
	margin: auto;
	z-index: 10;
	background-color: white;
	text-align: center;
	font-size: 10pt; /* needed for cloned object */
	opacity: 0.7;
	filter: alpha(opacity=70);
	/* without width, IE6/7 will not apply filter/opacity to the element ?! */
	/* IE needs element layout */
	width: 140px;
	height: 25px;
	line-height: 25px;
	/* round corners */
	border-radius: 4px; /* Opera, Chrome */
	-moz-border-radius: 4px; /* FF */
}

/* tables */
div#drag table {
	background-color: #eee;
	border-collapse: collapse;
	font-size: 20px;
	margin: auto;
}

/* table cells */
div#drag td {
	height: 32px;
	border: 1px solid white;
	text-align: center;
	font-size: 10pt;
	padding: 2px;
	width: 145px;
}

/* green objects */
.green {
	border: 2px solid #499B33;
	font-size: 15px;
	color: black;
}

/* orange objects */
.orange {
	border: 2px solid #BF6A30;
	font-size: 15px;
	color: black;
}

/* yellow objects */
.yellow {
	border: 2px solid #F0E68C;
	font-size: 15px;
	color: black;
}

/* blank cells (to create gap between left column and message row) */
.blank {
	background-color: white;
}

/* green cell */
.green_cell {
	background-color: #AFD0A7;
	width: 160px;
    height: 35px;
    border: 1px solid gray;
}

/* orange cell */
.orange_cell {
	background-color: #DDC5B5;
	width: 160px;
    height: 35px;
    border: 1px solid gray;
}

/* yellow cell */
.yellow_cell {
	background-color: #FFFACD;
	width: 225px;
    height: 35px;
    border: 1px solid gray;
}

/* message line */
#message {
	color: white;
	background-color: #aaa;
	height: 50px;
    font-size: 20px;
}

/* left column and corners in main table */
.dark {
	background-color: #e0e0e0;
	border: 1px solid gray;
}

.css-drag {
	font-size: 15px;
	color: black;
}

.square {
    width: 160px;
    height: 35px;
    line-height: 35px;
    border: 1px solid black;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
    float: left;
    background-color: lightblue;
    cursor: pointer;
    font-weight: 100;
    color: navy;
    font-family: Courier;
    font-size: 17px;
}

.squaredotted {
    width: 160px;
    height: 35px;
    line-height: 35px;
    border: 1px dotted gray;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
    float: left;
    color: gray;
    background-color: lightgray;
}

.squaredotted-blank {
    width: 160px;
    height: 35px;
    line-height: 35px;
    border: 1px dotted gray;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
    float: left;
    color: gray;
    background-color: #2b3e50;
}

.square-css {
    width: 200px;
    height: 35px;
    line-height: 33px;
    border: 1px solid black;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: left;
    text-indent: 5px;
    float: left;
    background-color: lightblue;
    cursor: pointer;
    font-family: Courier;
    font-weight: 100;
    font-size: 17px;
    color: navy;
}
 
.squaredotted-css {
    width: 200px;
    height: 35px;
    line-height: 33px;
    border: 1px dotted gray;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: left;
    text-indent: 5px;
    float: left;
    color: black;
    background-color: lightgray;
    font-family: Courier;
    font-weight: 100;
    font-size: 17px;
}

.squaredotted-css-blank {
    width: 200px;
    height: 35px;
    line-height: 33px;
    border: 1px dotted gray;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: left;
    text-indent: 10px;
    float: left;
    color: black;
    font-family: Courier;
    font-size: 24px;
}

